body{
    transition: colors;
    transition-duration: 1s easeInOut;
    margin: 0;
    padding: 0;
}

.homeDiv{
    text-shadow: 1px 1px 0px 2px black;
}

.vertical-text {
    writing-mode: vertical-lr; /* For vertical text from right to left */
    text-orientation: sideways-right; /* For mixed orientation to support all browsers */
  }
  

  .skills_list{
    color: blue;
  }

  .box__shadow{
    border: 1px solid rgb(0 0 0 / 8%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.5s ease-in-out;
    transform: scale(1);
  }

  .box__shadow:hover{
    transform: scale(1.04);
    
  }

  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sections{
    width: 95vw;
  }

  .scroll_bar::-webkit-scrollbar{
    display: none;
  }

  .preview_img{
  
    min-height: 500px;
  }