body{
    transition: colors;
    transition-duration: 1s easeInOut;
}

.homeDiv{
    text-shadow: 1px 1px 0px 2px black;
}

.vertical-text {
    writing-mode: vertical-lr; /* For vertical text from right to left */
    text-orientation: sideways-right; /* For mixed orientation to support all browsers */
  }
  